html, body {
    background-color: black;
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    width: 100%;
    height: calc(100% - 30px);
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: dense;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#editor,
#dashboard {
    position: relative;
    box-sizing: border-box;
    grid-row: 2;
}

@media only screen and (max-width: 1050px) {
    main {
        grid-template-rows: 40px minmax(400px, auto) minmax(400px, auto);
        grid-template-columns: 1fr;
    }

    #editor {
        grid-row: 2;
    }
    #dashboard {
        grid-row: 3;
    }
}
h1 {
    margin: 0;
    font-size: 30px;
}

label {
    display: inline-block;
    border: 1px solid #fff;
    margin: 3px;
    padding: 3px;
}

#nodeGraph {
    max-height: 550px;
    overflow: auto;
    padding: 10px;
}
#nodeGraph > canvas {
    min-width: 400px;
}